<div class="calendar">
  <app-selector></app-selector>
  <table>
    <tbody>
      <tr *ngFor="let week of calendar">
        <td
          *ngFor="let day of week.days"
          [class.disabled]="day.disabled"
          (click)="select(day.value)"
          [class.selected]="day.selected"
          [class.active]="day.active"
        >
          <span>
            {{ day.value | moment: "DD" }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="calendar__day-names">
    <span class="calendar__day-name">S</span>
    <span class="calendar__day-name">M</span>
    <span class="calendar__day-name">T</span>
    <span class="calendar__day-name">W</span>
    <span class="calendar__day-name">T</span>
    <span class="calendar__day-name">F</span>
    <span class="calendar__day-name">S</span>
  </p>
</div>
